*.iml
.gradle
local.properties
.DS_Store

# Environment & Secret files
.env
*.env

# Build & generated directories
build/
**/build/
**/dist/
node_modules/
**/node_modules/

# IDE files
.idea/
.externalNativeBuild
.cxx
captures/
