<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.type.television" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="DeliveryTrack TV Dashboard"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLiUs1tTdpU1bimlGdGZbU4jiZfrwcIZw" />
        
        <activity
            android:name=".presentation.TvDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
